GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# 数据库连接信息
DB_HOST=pgm-6we2iwj50gul9ez8eo.pgsql.japan.rds.aliyuncs.com
DB_PORT=5432
DB_NAME=claude_code
DB_USER=dev_read_chunqiu
DB_PASSWORD=w7QcN8zp2VxT5Rb
